:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.96 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.279 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

/* default */
:root[data-theme='default'] {
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-accent: oklch(0.94 0 0);
}

.dark[data-theme='default'] {
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.30 0 0);
}

/* amber */
:root[data-theme='amber'] {
    --primary: oklch(0.555 0.163 48.998);
    --primary-foreground: oklch(0.987 0.022 95.277);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.666 0.179 58.318);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent: oklch(0.95 0.04 49);
}

.dark[data-theme='amber'] {
    --primary: oklch(0.473 0.137 46.201);
    --primary-foreground: oklch(0.987 0.022 95.277);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.769 0.188 70.08);
    --sidebar-accent: oklch(0.27 0.04 46);
}

/* blue */
:root[data-theme='blue'] {
    --primary: oklch(0.488 0.243 264.376);
    --primary-foreground: oklch(0.97 0.014 254.604);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.546 0.245 262.881);
    --sidebar-accent: oklch(0.95 0.04 264);
}

.dark[data-theme='blue'] {
    --primary: oklch(0.424 0.199 265.638);
    --primary-foreground: oklch(0.97 0.014 254.604);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.623 0.214 259.815);
    --sidebar-accent: oklch(0.27 0.04 266);
}

/* cyan */
:root[data-theme='cyan'] {
    --primary: oklch(0.52 0.105 223.128);
    --primary-foreground: oklch(0.984 0.019 200.873);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.609 0.126 221.723);
    --sidebar-accent: oklch(0.95 0.03 223);
}

.dark[data-theme='cyan'] {
    --primary: oklch(0.45 0.085 224.283);
    --primary-foreground: oklch(0.984 0.019 200.873);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.715 0.143 215.221);
    --sidebar-accent: oklch(0.27 0.03 224);
}

/* emerald */
:root[data-theme='emerald'] {
    --primary: oklch(0.508 0.118 165.612);
    --primary-foreground: oklch(0.979 0.021 166.113);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.596 0.145 163.225);
    --sidebar-accent: oklch(0.95 0.04 166);
}

.dark[data-theme='emerald'] {
    --primary: oklch(0.432 0.095 166.913);
    --primary-foreground: oklch(0.979 0.021 166.113);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.696 0.17 162.48);
    --sidebar-accent: oklch(0.27 0.04 167);
}

/* fuchsia */
:root[data-theme='fuchsia'] {
    --primary: oklch(0.518 0.253 323.949);
    --primary-foreground: oklch(0.977 0.017 320.058);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.591 0.293 322.896);
    --sidebar-accent: oklch(0.95 0.05 324);
}

.dark[data-theme='fuchsia'] {
    --primary: oklch(0.452 0.211 324.591);
    --primary-foreground: oklch(0.977 0.017 320.058);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.667 0.295 322.15);
    --sidebar-accent: oklch(0.27 0.05 325);
}

/* green */
:root[data-theme='green'] {
    --primary: oklch(0.527 0.154 150.069);
    --primary-foreground: oklch(0.982 0.018 155.826);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.627 0.194 149.214);
    --sidebar-accent: oklch(0.95 0.04 150);
}

.dark[data-theme='green'] {
    --primary: oklch(0.448 0.119 151.328);
    --primary-foreground: oklch(0.982 0.018 155.826);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.723 0.219 149.579);
    --sidebar-accent: oklch(0.27 0.04 151);
}

/* indigo */
:root[data-theme='indigo'] {
    --primary: oklch(0.457 0.24 277.023);
    --primary-foreground: oklch(0.962 0.018 272.314);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.511 0.262 276.966);
    --sidebar-accent: oklch(0.95 0.04 277);
}

.dark[data-theme='indigo'] {
    --primary: oklch(0.398 0.195 277.366);
    --primary-foreground: oklch(0.962 0.018 272.314);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.585 0.233 277.117);
    --sidebar-accent: oklch(0.27 0.04 277);
}

/* lime */
:root[data-theme='lime'] {
    --primary: oklch(0.841 0.238 128.85);
    --primary-foreground: oklch(0.405 0.101 131.063);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.648 0.2 131.684);
    --sidebar-accent: oklch(0.95 0.06 129);
}

.dark[data-theme='lime'] {
    --primary: oklch(0.768 0.233 130.85);
    --primary-foreground: oklch(0.405 0.101 131.063);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.768 0.233 130.85);
    --sidebar-accent: oklch(0.27 0.05 131);
}

/* orange */
:root[data-theme='orange'] {
    --primary: oklch(0.553 0.195 38.402);
    --primary-foreground: oklch(0.98 0.016 73.684);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.646 0.222 41.116);
    --sidebar-accent: oklch(0.95 0.05 38);
}

.dark[data-theme='orange'] {
    --primary: oklch(0.47 0.157 37.304);
    --primary-foreground: oklch(0.98 0.016 73.684);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.705 0.213 47.604);
    --sidebar-accent: oklch(0.27 0.05 37);
}

/* pink */
:root[data-theme='pink'] {
    --primary: oklch(0.525 0.223 3.958);
    --primary-foreground: oklch(0.971 0.014 343.198);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.592 0.249 0.584);
    --sidebar-accent: oklch(0.95 0.04 4);
}

.dark[data-theme='pink'] {
    --primary: oklch(0.459 0.187 3.815);
    --primary-foreground: oklch(0.971 0.014 343.198);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.656 0.241 354.308);
    --sidebar-accent: oklch(0.27 0.04 4);
}

/* purple */
:root[data-theme='purple'] {
    --primary: oklch(0.496 0.265 301.924);
    --primary-foreground: oklch(0.977 0.014 308.299);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.558 0.288 302.321);
    --sidebar-accent: oklch(0.95 0.05 302);
}

.dark[data-theme='purple'] {
    --primary: oklch(0.438 0.218 303.724);
    --primary-foreground: oklch(0.977 0.014 308.299);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.627 0.265 303.9);
    --sidebar-accent: oklch(0.27 0.05 304);
}

/* red */
:root[data-theme='red'] {
    --primary: oklch(0.505 0.213 27.518);
    --primary-foreground: oklch(0.971 0.013 17.38);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.577 0.245 27.325);
    --sidebar-accent: oklch(0.95 0.04 28);
}

.dark[data-theme='red'] {
    --primary: oklch(0.444 0.177 26.899);
    --primary-foreground: oklch(0.971 0.013 17.38);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.637 0.237 25.331);
    --sidebar-accent: oklch(0.27 0.04 27);
}

/* rose */
:root[data-theme='rose'] {
    --primary: oklch(0.514 0.222 16.935);
    --primary-foreground: oklch(0.969 0.015 12.422);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.586 0.253 17.585);
    --sidebar-accent: oklch(0.95 0.04 17);
}

.dark[data-theme='rose'] {
    --primary: oklch(0.455 0.188 13.697);
    --primary-foreground: oklch(0.969 0.015 12.422);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.645 0.246 16.439);
    --sidebar-accent: oklch(0.27 0.04 14);
}

/* sky blue */
:root[data-theme='sky-blue'] {
    --primary: oklch(0.5 0.134 242.749);
    --primary-foreground: oklch(0.977 0.013 236.62);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.588 0.158 241.966);
    --sidebar-accent: oklch(0.95 0.03 243);
}

.dark[data-theme='sky-blue'] {
    --primary: oklch(0.443 0.11 240.79);
    --primary-foreground: oklch(0.977 0.013 236.62);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.685 0.169 237.323);
    --sidebar-accent: oklch(0.27 0.03 241);
}

/* teal */
:root[data-theme='teal'] {
    --primary: oklch(0.511 0.096 186.391);
    --primary-foreground: oklch(0.984 0.014 180.72);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.6 0.118 184.704);
    --sidebar-accent: oklch(0.95 0.03 186);
}

.dark[data-theme='teal'] {
    --primary: oklch(0.437 0.078 188.216);
    --primary-foreground: oklch(0.984 0.014 180.72);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.704 0.14 182.503);
    --sidebar-accent: oklch(0.27 0.03 188);
}

/* violet */
:root[data-theme='violet'] {
    --primary: oklch(0.491 0.27 292.581);
    --primary-foreground: oklch(0.969 0.016 293.756);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.541 0.281 293.009);
    --sidebar-accent: oklch(0.95 0.05 293);
}

.dark[data-theme='violet'] {
    --primary: oklch(0.432 0.232 292.759);
    --primary-foreground: oklch(0.969 0.016 293.756);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.606 0.25 292.717);
    --sidebar-accent: oklch(0.27 0.05 293);
}

/* yellow */
:root[data-theme='yellow'] {
    --primary: oklch(0.852 0.199 91.936);
    --primary-foreground: oklch(0.421 0.095 57.708);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --sidebar-primary: oklch(0.681 0.162 75.834);
    --sidebar-accent: oklch(0.95 0.05 92);
}

.dark[data-theme='yellow'] {
    --primary: oklch(0.795 0.184 86.047);
    --primary-foreground: oklch(0.421 0.095 57.708);
    --secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.795 0.184 86.047);
    --sidebar-accent: oklch(0.27 0.05 86);
}